@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.navlinks {
  margin-left: 5px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  /* display: "flex"; */
  /* display: inline; */
}
.logo {
  flex-grow: calc(1);
  /* flexGrow: "1"; */
  font-family: "Poppins", sans-serif !important;
  cursor: "pointer";
  font-size: 1rem;
}
.link {
  /* textDecoration: "none"; */
  font-family: "Poppins", sans-serif;
  display: inline;
  cursor: "pointer";
  color: "white" !important;
  font-size: 20px;
  margin-left: 20px;
}

.topp{
  background-color: #091E3A !important;
  /* font-family: "Poppins", sans-serif !important; */
}

.link:hover{
  color: "yellow";
  border-bottom: "1px solid white";
}
