@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");



.mintpanel {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  background-color: #091e3a;
}

.parallax{
  height: 500px;
  width: 600px;
}
/* .parallaxmain {
  background-image: url("../images/under.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
} */
